* {
  color: #ababab;
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
}

.header-hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  background-color: #2d2d2d;
  position: absolute;
  border: 1px solid white;
  border-radius: 1rem;
  padding: 1rem;
  opacity: 90%;
}

.title p {
  color: white;
}

h1 {
  color: white;
}

.access-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 150px;
  height: 80px;
}

.access-left {
  position: absolute;
  left: -150px;
  transition: 1s;
}

.access-right {
  position: absolute;
  right: 10px;
  transition: 1s;
}

.left-slide {
  transition: 1s;
  left: 10px;
}

.right-slide {
  right: -150px;
}

.access-button {
  background-color: #242424;
  border: none;
  border: 1px solid white;
  border-radius: 1rem;
}

.access-right .access-button img {
  transform: scaleX(-1);
}

.margin-left-1 {
  margin-left: 1%;
}

.light-header {
  background-color: beige;
  color: #171b1b;
  transition: 1s;
}

.dark {
  background-color: #242424;
  transition: 0.5s;
}

.light {
  background-color: white;
  color: #242424;
  transition: 0.5s;
}

.social-menu {
  position: fixed;
  width: 100px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.dark-hero {
  background-color: #2d2d2d;
  transition: 1s;
}

footer {
  background-color: #242424;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

header {
  width: 100%;
}

.hero {
  height: 30vh;
  border-bottom: 1px solid black
}

button {
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1%;
}

.sticky {
  position: sticky;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.margin-1 {
  margin: 1%;
}

.pad-1 {
  padding: 1%;
}

.w-100 {
  width: 100%;
}
