* {
  color: #ababab;
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
}

.dark-header {
  background-color: #171b1b;
  transition: 1s;
}

.light-header {
  background-color: beige;
  color: #171b1b;
  transition: 1s;
}

.dark {
  background-color: #171b1b;
  transition: 1s;
}

.light {
  background-color: white;
  color: #171b1b;
  transition: 1s;
}

.dark-keyboard {
  opacity: 10%;
  transition: 1s;
}

.light-keyboard {
  opacity: 6%;
  filter: invert(100%);
  transition: 1s;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accessibility {
  position: absolute;
  display: flex;
  justify-content: space-around;
}

.accessibility:hover img {
  cursor: pointer;
}

.social-menu {
  position: fixed;
  width: 100px;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0;
}

.hero div {
  width: 30%;
  margin: 3% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.dark-hero {
  background-color: #2d2d2d;
  transition: 1s;
}

.light-hero {
  background-color: white;
  transition: 1s;
}
.light-hero h2 {
  color: #171b1b;
  transition: 1s;
}
.light-hero h3 {
  color: #171b1b;
  transition: 1s;
}
.light-hero p {
  color: #171b1b;
  transition: 1s;
}

footer {
  background-color: #171b1b;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

* {
  box-sizing: border-box;
  max-width: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

header {
  width: 100%;
}

.hero {
  height: 30vh;
  border-bottom: 1px solid black
}

button {
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1%;
}

.sticky {
  position: sticky;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.margin-1 {
  margin: 1%;
}

.pad-1 {
  padding: 1%;
}

.w-100 {
  width: 100%;
}
